<!DOCTYPE html>
<html>
  <head>
    <title>Grimoire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <script src="https://kit.fontawesome.com/40cb9d8c09.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="<%= bg_for_flash(key) %> text-white p-4 text-center">
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <main class="container mx-auto max-w-screen-xl mt-16 px-5 flex flex-col">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
